@charset "UTF-8";

body{
    background-color: royalblue;
    font: normal 15pt Arial;
}


header{
    color: white;
    text-align: center;
}

.principal{
    width: 500px;
    height: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);

}

footer{
    color: white;
    text-align: center;
}