@charset "UTF-8";

body{
    background-color: royalblue;
    font: normal 15pt Arial;
}


header{
    color: white;
    text-align: center;
}

section{
    width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 50px;
    background-color: white;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

div{
    padding: 10px;
}

footer{
    color: white;
    text-align: center;
}